* text eol=lf

assets/* linguist-generated
package-lock.json linguist-generated
composer.lock linguist-generated

/.husky export-ignore
/resources export-ignore
/tests export-ignore

/.eslintrc.js export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.prettierrc.js export-ignore
/.psalm export-ignore
/.stylelintrc.js export-ignore
/.yo-rc.json export-ignore
/docs export-ignore
/jest.config.js export-ignore
/phpcs.xml export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml export-ignore
/phpunit.xml.dist export-ignore
/postcss.config.js export-ignore
/psalm.xml export-ignore
/README.md export-ignore
/tsconfig.json export-ignore
/webpack.config.js export-ignore
/webpack.utils.js export-ignore
