// adding the green background.
#wpcontent::before {
	content: " ";
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	min-height: 400px;
	background: $color__inpsyde;
	transform-origin: 100% 0;
	transform: skewY(-11deg);
}

.settings__content {

	@media only screen and (min-width: 720px) {
		width: 66%;
	}
}

// We've to use a strong selector to overwrite the WP defaults.
.settings__headline {
	color: $color__inpsyde;
	margin: 0;
	padding: 25px 0 !important;
	font-size: 250% !important;

	@media only screen and (max-width: 720px) {
		text-align: center;
	}
}

.syde-logo {

	&__image {
		display: inline-block;
		vertical-align: text-top;
	}
}
